body {
  
  background-color:black;
  
}

h3 {
  
  color:white;
  
}

div {
  
  color:white;
  
}

p{
  color:white;
  }

.bok {
  background-color:white;
}

.bok2 {
  color:red;
}

.bok3 {
  
  background-color:red;
}